@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');
/* font-family: 'Beth Ellen', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap');
/* font-family: 'Oleo Script Swash Caps', cursive; */

.cheeseWrapper {
    padding-top: 10%;
    overflow-y: scroll;
    max-height: 620px;  
}

.cheeseHeader {
    font-family: 'Oleo Script Swash Caps', cursive; 
    font-size: 75px;
    padding-left: 30px;
}

.cheeseSider {
    border: 10px #f4af07 solid;
background-color: #f4c759;
}

.card {    
    min-width: 150px;
    max-width: 150px;
}

.card-deck .card {
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.productsContainer {
        width: 100%;
        padding-right: 15px;
        margin-right: auto;
        margin-left: 0;
}