.card-deck  {
    justify-content: center;
}


/* check once able to actually view */
.product-card {     
    max-width: none;
}

.product-card img {
    border: 1px solid #DFDFDF;
    border-radius: 6px;
    height: auto;  
    max-width: 400px;
    width: 100%;
}

.product-card .card-title {
    font-size: 1.75em;
}

.product-card .card-text {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.4;
}

.product-card .price {
    font-size: 20px;
    font-weight: 400;   
}

.product-card .aspects {
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0;
    margin-left: 3px;   
}

.btn-card {
    background: rgb(179, 99, 2);
    border-color: rgb(179, 99, 2);
    line-height: 1;
    padding: 12px 20px 10px;
}

.btn-card:hover {
    background: cadetblue;
    border-color: cadetblue;
}





@media (max-width: 767px) {
    .card {    
        margin: 0 auto;
        max-width: 270px;
        min-width: 270px;
    }
}