.btn-outline-light.focus, 
.btn-outline-light:focus { box-shadow: 0 0 0 0 transparent !important; }

#sidebar { background: #EEEEEE; padding: 80px 40px; }
.col-pixel-width-480 { flex: 0 0 480px; }

#content { background: #F9F9F9; min-height: 630px; padding: 80px; }

.max-960 { margin: 0 auto; max-width: 960px; width: 100%; }

@media (max-width: 1023px) {

    #content { padding: 40px; }
    .col-pixel-width-480 { flex: 0 0 100% !important; }
    
}




