#sidebar {
    background: #EEEEEE;
    padding: 80px 40px;
}

.col-pixel-width-480 {
    flex: 0 0 480px;
}


#content {
    background: #F9F9F9;
    padding: 80px;
}


@media (max-width: 767px) {

    #content { padding: 40px; }
    .col-pixel-width-480 { flex: 0 0 100% !important; }
    
}




