* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
  }

.heroWrapper {
    display: block;
    box-sizing: border-box;
    overflow-x: scroll
}

.heroImage {
    object-fit: cover;
    width: 100vw;
}

.navText {
    color: rgba(255, 255, 255, 0.925);
}

.clearfix {
    height: 10px;
    width: 100vw;
}